
    .breadcrumb {
        display: flex;
        gap: 6px;
        list-style: none;
        padding: 0;
        margin: 10px 0;
        font-size: 14px;
    }

    .breadcrumb li {
        display: flex;
        align-items: center;
    }

    .breadcrumb li::after {
        content: "/";
        margin: 0 6px;
         color: #cb0000;
    }

    .breadcrumb li:last-child::after {
        content: "";
    }

    .breadcrumb a {
        color: #cb0000;
        text-decoration: none;
    }

    .breadcrumb p{
        color: #7e7e7e;
        text-decoration: none;
    }
    .breadcrumb a:hover {
        text-decoration: underline;
    }
    