    #mainSlider {
        height: 320px;
    }

    #mainSlider img {
        height: 220px;
    }


    #prevSlide,
    #nextSlide {
        top: 32%;
    }

    @media (min-width: 1024px) {
        #mainSlider {
            height: 500px;
        }

        #mainSlider img {
            height: 410px;
        }

        #prevSlide,
        #nextSlide {
            top: 40%;
        }

        .item-left {
            width: 60%;
        }
    }

    .item-right {

        width: 400px;
        word-break: break-word;
        overflow-wrap: anywhere;
        
    }