    #mainSlider {
        height: 310px;
    }

    #mainSlider img {
        height: 200px;
    }



    #prevSlide,
    #nextSlide {
        top: 32%;
    }

    @media (min-width: 1024px) {
        #mainSlider {
            height: 474px;
        }

  

        #mainSlider img {
            height: 100%;
        }

        #prevSlide,
        #nextSlide {
            top: 40%;
        }

        .item-left {
            width: 70%;
        }
    }

    .item-right {

        width: 300px;
        word-break: break-word;
        overflow-wrap: anywhere;
        
    }