    #mainSlider {
        height: 370px;
    }

    #mainSlider img {
        height: 205px;
    }


    #prevSlide,
    #nextSlide {
        top: 30%;
    }

    @media (min-width: 1024px) {
        #mainSlider {
            height: 668px;
        }

        #mainSlider img {
            height: 410px;
        }

        #prevSlide,
        #nextSlide {
            top: 30%;
        }

        .item-left {
            width: 90%;
        }
    }

    .item-right {
        word-break: break-word;
        /* or break-all */
        overflow-wrap: anywhere;
        
    }