    #mainSlider {
        height: 200px;
        margin-bottom: 10px;
    }
    #mainSlider img {
        height: 100%;
    }
    #prevSlide,
    #nextSlide {
        top: 45%;
    }

    @media (min-width: 1024px) {
        #mainSlider {
            height: 456px;
        }

        #prevSlide,
        #nextSlide {
            top: 45%;
        }

        .item-left {
            width: 70%;
        }
    }
    .item-right {
        width: 300px;
        word-break: break-word;
        overflow-wrap: anywhere;
        
    }